Source: ktigcc
Section: devel
Priority: optional
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>= 5), libticables2-1-dev (>= 1.0.5-1), libticalcs2-2-dev (>= 1.0.6-1), libtifiles2-3-dev (>= 1.0.5-1), libticonv2 (>= 1.0.2-1), libgtk2.0-dev, libqt3-mt-dev (>= 3.2.0), kdelibs (>= 3.5.2), autoconf, automake1.9
Standards-Version: 3.7.2

Package: ktigcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kdelibs (>= 3.5.2), kdebase (>= 3.5.2), exuberant-ctags
Description: an IDE for TIGCC using KDE
 KTIGCC is an IDE for the TIGCC cross-toolchain on *nix/X11 platforms, using 
 the KDE3 libraries.
 .
 Note: this package depends on TIGCC which is not provided. You will have to
 download and install it from <http://tigcc.ticalc.org>
 .