Source: tigcc
Section: devel
Priority: optional
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: tigcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: ktigcc
Description: cross-compiler for Texas Instruments hand-helds (TI89..V200)
 TIGCC make possible to program in 'C' and 'ASM' for some of the Texas 
 Instruments hand-helds (TI89, Titanium, TI92, TI92+ and V200PLT).
 .
 This package provides the compiler as well as the TIGCC library.
 .
 This package includes the a68k assembler which is _not_ free software.
 .