Source: ktigcc
Section: devel
Priority: optional
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>= 5), libticables2-1-dev (>= 1.2.0-1), libticalcs2-7-dev (>= 1.1.0-1), libtifiles2-5-dev (>= 1.1.0-1), libticonv3 (>= 1.1.0-1), libgtk2.0-dev, libqt3-mt-dev (>= 4.2.0-1), kdebase-dev (>= 3.5.5-1), kdelibs4-dev (>= 3.5.5-1), exuberant-ctags
Standards-Version: 3.7.2

Package: ktigcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, exuberant-ctags, qt3-assistant
Description: An IDE for TIGCC using KDE
 KTIGCC is an IDE for the TIGCC cross-toolchain on *nix/X11 platforms, using 
 the KDE4 libraries.
 .
 Note: this package depends on TIGCC which is not provided. You will have to
 download and install it from <http://tigcc.ticalc.org>
 .
