MAINICON ICON "IDE.ico"

1 VERSIONINFO
FILEVERSION 2,9,7,0
PRODUCTVERSION 2,9,7,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "04090000"
	{
		VALUE "CompanyName", "TIGCC Team"
		VALUE "FileDescription", "GCC4TI IDE"
		VALUE "FileVersion", "2.9.7.0"
		VALUE "InternalName", "IDE"
		VALUE "LegalCopyright", "Copyright (c) Sebastian Reichelt and others, 2000-2010"
		VALUE "LegalTrademarks", ""
		VALUE "OriginalFilename", "IDE.exe"
		VALUE "ProductName", "GCC4TI"
		VALUE "ProductVersion", "0.96 Beta 11"
		VALUE "Comments", "This program is freely distributable under the terms of the GNU General Public License."
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409,0x04E4
}
}
